<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <h1 class="mt-4">Board Modify Page</h1>
        <form action="/board/modify" method="post">
            <!-- 페이지 번호 -->
            <input type="hidden" name="page" th:value="${requestDTO.page}">
            <input type="hidden" name="type" th:value="${requestDTO.type}">
            <input type="hidden" name="keyword" th:value="${requestDTO.keyword}">

            <div class="form-group">
                <label>Bno</label>
                <input type="text" class="form-control" name="bno" th:value="${dto.bno}" readonly>
            </div>
            <div class="form-group">
                <label>Title</label>
                <input type="text" class="form-control" name="title" th:value="${dto.title}">
            </div>
            <div class="form-group">
                <label>Content</label>
                <textarea name="content" rows="5" class="form-control">[[${dto.content}]]</textarea>
            </div>
            <div class="form-group">
                <label>Writer</label>
                <input type="text" class="form-control" name="writer" th:value="${dto.writerName}" readonly>
            </div>
            <div class="form-group">
                <label>RegDate</label>
                <input type="text" class="form-control" name="regDate" th:value="${#temporals.format(dto.regDate, 'yyyy/MM/dd HH:mm:ss')}" readonly>
            </div>
            <div class="form-group">
                <label>ModDate</label>
                <input type="text" class="form-control" name="modDate" th:value="${#temporals.format(dto.modDate, 'yyyy/MM/dd HH:mm:ss')}" readonly>
            </div>
        </form>

        <button type="button" class="btn btn-primary modifyBtn">Modify</button>
        <button type="button" class="btn btn-info listBtn">List</button>
        <button type="button" class="btn btn-danger removeBtn">Remove</button>
    </th:block>
</th:block>
</html>

<script>
    let actionForm = document.querySelector("form");
    let removeBtn = document.querySelector(".removeBtn");
    let modifyBtn = document.querySelector(".modifyBtn");
    let listBtn = document.querySelector(".listBtn");

    let formData = new FormData(actionForm);

    removeBtn.addEventListener("click", function(){
        actionForm.setAttribute("action", "/board/remove");
        actionForm.setAttribute("method", "post");

        actionForm.submit();
    });

    modifyBtn.addEventListener("click", function(){
        if (!confirm("수정하시겠습니까?")) {
            return ;
        }

        fetch("/board/modify", {
            method: "POST",
            body: formData,
        }).then((response) => response.json())
            .then((data) => console.log(data))

         actionForm.submit();
    });

    listBtn.addEventListener("click", function() {
        // var pageInfo = document.querySelector("input[name='page']");
        let page = document.querySelector("input[name='page']");
        let type = document.querySelector("input[name='type']");
        let keyword = document.querySelector("input[name='keyword']");

        // 모든 내용 지우기
        while (actionForm.firstChild) {
            actionForm.removeChild(actionForm.firstChild);
        }
        // console.log("pageInfo", pageInfo);
        // actionForm.append(pageInfo);
        console.log("page");
        console.log(page);
        console.log("type");
        console.log(type);
        console.log("keyword");
        console.log(keyword);
        actionForm.append(page);
        actionForm.append(type);
        actionForm.append(keyword);
        actionForm.setAttribute("action", "/board/list");
        actionForm.setAttribute("method", "GET");
        actionForm.submit();
    })

</script>

<!--<script th:inline="javascript">
    var actionForm = $("form");

    $(".removeBtn").click(function() {
        actionForm
            .attr("action", "/guestbook/remove")
            .attr("method", "post");

        actionForm.submit();
    });
</script>-->