<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <h1 class="mt-4">Board Read Page</h1>
        <div class="form-group">
            <label>Bno</label>
            <input type="text" class="form-control" name="bno" th:value="${dto.bno}" readonly>
        </div>
        <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control" name="title" th:value="${dto.title}" readonly>
        </div>
        <div class="form-group">
            <label>Content</label>
            <textarea name="content" rows="5" class="form-control" readonly>[[${dto.content}]]</textarea>
        </div>
        <div class="form-group">
            <label>Writer</label>
            <input type="text" class="form-control" name="writer" th:value="${dto.writerName}" readonly>
        </div>
        <div class="form-group">
            <label>RegDate</label>
            <input type="text" class="form-control" name="regDate" th:value="${#temporals.format(dto.regDate, 'yyyy/MM/dd HH:mm:ss')}" readonly>
        </div>
        <div class="form-group">
            <label>ModDate</label>
            <input type="text" class="form-control" name="modDate" th:value="${#temporals.format(dto.modDate, 'yyyy/MM/dd HH:mm:ss')}" readonly>
        </div>

        <a th:href="@{/board/modify(bno=${dto.bno}, page=${requestDTO.page}, type=${requestDTO.type}, keyword=${requestDTO.keyword})}">
            <button type="button" class="btn btn-primary">Modify</button>
        </a>
        <a th:href="@{/board/list(page=${requestDTO.page}, type=${requestDTO.type}, keyword=${requestDTO.keyword})}">
            <button type="button" class="btn btn-primary">List</button>
        </a>
        <div>
            <div class="mt-4">
                <h5>
                    <span class="badge badge-info addReply">Add Reply</span>
                </h5>
                <h5>
                    <span class="badge badge-secondary replyCount">Reply Count [[${dto.replyCount}]]</span>
                </h5>
                <div class="list-group replyList">

                </div>
            </div>
        </div>
    </th:block>
</th:block>
<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input class="form-control" type="text" name="replyText" placeholder="Reply Text...">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="replyer" placeholder="Replyer">
                    <input type="hidden" name="rno">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger replyRemove">Remove</button>
                <button type="button" class="btn btn-warning replyModify">Modify</button>
                <button type="button" class="btn btn-primary replySave">Save</button>
                <button type="button" class="btn btn-outline-secondary replyClose" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
</html>

<script>

    let bno = document.querySelector('input[name="bno"]').value;

    // 댓글이 추가될 영역
    let listGroup = document.querySelector(".replyList");

    // 날짜 처리를 위한 함수
    let formatTime = (str) => {
        let date = new Date(str);

        return date.getFullYear() + '/' +
            (date.getMonth() + 1) + '/' +
            date.getDate() + ' ' +
            date.getHours() + ':' +
            date.getMinutes();
    }

    // 특정한 게시글의 댓글을 처리하는 함수
    function loadJSONData() {
        let str = "";
        fetch("/replies/board/" + bno)
            .then((response) => response.json())
            .then(arr => {
                console.log(arr);

                arr.forEach((reply, idx) => {
                    console.log(reply);
                    str += `<div class="card-body" data-rno="${reply.rno}"><b>${reply.rno}</b>
                            <h5 class="card-title">${reply.text}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">${reply.replyer}</h6>
                            <p class="card-text">${formatTime(reply.regDate)}</p>
                            </div>`
                });
                listGroup.innerHTML = str;
            })
            .catch(error => {
                console.error('Error fetching replies : ', error);
            })

    }

    // 클릭 버튼
    document.querySelector(".replyCount").addEventListener("click", function() {
        loadJSONData();
    });

    let modalElement = document.querySelector('.modal');
    let modal = new bootstrap.Modal(modalElement); // Bootstrap 5에서 모달 인스턴스를 생성

    document.querySelector(".addReply").addEventListener("click", function() {
        modal.show();

        // 댓글 입력 부분 초기화 시키기
        document.querySelector('input[name="replyText"]').value = '';
        document.querySelector('input[name="replyer"]').value = '';

        document.querySelectorAll(".modal-footer .btn").forEach(btn => btn.style.display = 'none');
        document.querySelectorAll(".replySave, .replyClose").forEach(btn => btn.style.display = 'block');
    });


    // 댓글 저장
    document.querySelector(".replySave").addEventListener("click", function() {
       let reply = {
           bno : bno,
           text : document.querySelector('input[name="replyText"]').value,
           replyer : document.querySelector('input[name="replyer"]').value,
       }
       console.log(reply);

        fetch("/replies/", {
            method: "POST",
            body: JSON.stringify(reply),
            headers: {
                "Content-Type": "application/json; charset=utf-8"  // Content-Type을 명시적으로 지정
            },
        }).then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        }).then((data) => {
            let newRno = parseInt(reply.bno);
            alert(newRno + "번 댓글이 등록되었습니다.");
            modal.hide();
            loadJSONData();
        }).catch((error) => {
            console.error('Error:', error);
        });
    });

    // 댓글 삭제
    document.querySelector(".replyRemove").addEventListener("click", function (){
        let rno = document.querySelector("input[name='rno']").value;    // 모달창에 보이는 댓글 번호 hidden 처리되어 있음

        fetch(`/replies/${rno}`, {
            method: "DELETE",
        }).then(response => response.text())
            .then(result => {
                console.log("result : " + result);
                if (result === 'success') {
                    alert("댓글이 삭제되었습니다.");
                    modal.hide();
                    loadJSONData();
                }
            }).catch(error => {
                console.error('Error deleting reply:', error);
            });

        /* ajax 통신
        $.ajax({
            url : '/replies/' + rno,
            method : 'delete',
            success : function(result) {
                console.log("result : " + result);
                if(result === 'success') {
                    alert("댓글이 삭제되었습니다.");
                    loadJSONData();
                }
            }
        });
        */
    });

    // 댓글 수정 처리


    // 댓글 선택시 상세 알림창 나오게
    document.querySelector('.replyList').addEventListener('click', function(event) {

        const cardBody = event.target.closest('.card-body');
        console.log(cardBody);
        if (cardBody) {
            let rno = cardBody.dataset.rno;

            document.querySelector("input[name='replyText']").value = cardBody.querySelector('.card-title').innerHTML;
            document.querySelector("input[name='replyer']").value = cardBody.querySelector('.card-subtitle').innerHTML;
            document.querySelector("input[name='rno']").value = rno;

            document.querySelectorAll(".modal-footer .btn").forEach(btn => btn.style.display = 'none');
            document.querySelectorAll(".replyRemove, .replyModify, .replyClose").forEach(btn => btn.style.display = 'block');

            modal.show();
        }
    });
</script>