<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
        <th:block th:fragment="content">

            <h1 class="mt-4">Movie Read Page</h1>

            <div class="form-group" th:data-mno="${dto.mno}">
                <label>Title</label>
                <input type="text" class="form-control" name="title" th:value="${dto.title}" readonly>
            </div>
            <div class="form-group">
                <label>Review Count</label>
                <input type="text" class="form-control" name="title" th:value="${dto.reviewCnt}" readonly>
            </div>


            <div class="form-group">
                <label>Avg</label>
                <input type="text" class="form-control" name="title" th:value="${dto.avg}" readonly>
            </div>

            <style>
                .uploadResult {
                    width : 100%;
                    background-color : gray;
                    margin-top : 10px;
                }
                .uploadResult ul {
                    display: flex;
                    flex-flow: row;
                    justify-content: center;
                    align-content: center;
                    vertical-align: top;
                    overflow: auto;
                }
                .uploadResult ul li {
                    list-style: none;
                    padding: 10px;
                    margin-left: 2em;
                }
                .uploadResult ul li img {
                    width: 100px;
                }
            </style>

            <div class="uploadResult">
                <ul>
                    <li th:each="movieImage: ${dto.imageDTOList}" th:data-file="${movieImage.getThumbnailURL()}">
                        <img th:if="${movieImage.path != null}" th:src="|/display?fileName=${movieImage.getThumbnailURL()}|">
                    </li>
                </ul>
            </div>

            <button type="button" class="btn btn-primary">
                ReviewCount <span class="badge badge-light">[[${dto.reviewCnt}]]</span>
            </button>

            <button type="button" class="btn btn-info addReviewBtn">
                Review Register
            </button>

            <div class="list-group reviewList">

            </div>

            <script th:src="@{/starrr.js}"></script>
            <link rel="stylesheet" th:href="@{/css/starrr.css}">
            <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css">
            <script>

                // JavaScript로만 데이터 가져오기
                var grade = 0;
                var mno = document.querySelector('.form-group').getAttribute('data-mno');
                console.log(mno);

                document.addEventListener('DOMContentLoaded', function() {
                    var reviewModal = document.querySelector(".reviewModal");
                    // Bootstrap의 Modal 클래스를 사용하여 모달을 초기화합니다.
                    var bootstrapModal = new bootstrap.Modal(reviewModal);
                    // Starrr 플러그인을 초기화하고 값이 변경될 때 동작하도록 설정
                    var starrrElement = document.querySelector('.starrr');

                    if (starrrElement) {
                        $(starrrElement).starrr({
                            rating: grade,
                            change: function(e, value) {
                                if (value) {
                                    console.log(value);
                                    grade = value;
                                }
                            }
                        });
                    }

                    var reviewModal = document.querySelector(".reviewModal");
                    var inputMid = document.querySelector('input[name="mid"]');
                    var inputText = document.querySelector('input[name="text"]');

                    document.querySelector(".addReviewBtn").addEventListener("click", function(){
                       inputMid.value = "";
                       inputText.value = "";

                       document.querySelectorAll(".removeBtn, .modifyBtn").forEach(btn => btn.style.display = "none");

                       // Bootstrap의 Modal 클래스를 사용하여 모달을 초기화합니다.
                       var bootstrapModal = new bootstrap.Modal(reviewModal);

                        // 모달을 표시합니다.
                        bootstrapModal.show();
                    });

                    // 저장하기
                    document.querySelector('.reviewSaveBtn').addEventListener("click", function(){
                        var data = {
                            mno:mno,
                            grade: grade,
                            text: inputText.value,
                            mid: inputMid.value
                        };
                        console.log("data::::::::::;");
                        console.log(data);

                        fetch("/reviews/" + mno, {
                            method: "POST",
                            headers : {
                                "Content-Type": "application/json; charset=utf-8"  // Content-Type을 명시적으로 지정
                            },
                            dataType: "text",
                            body: JSON.stringify(data),
                        }).then(response => {
                            if (!response.ok) {
                                throw new Error('Network response was not ok');
                            }
                            console.log(response);
                            self.location.reload();
                            return response;
                        }).then((result) => {
                            console.log("result:::", result);
                        }).catch((error) => {
                            console.error('Error:', error);
                        });
                        var reviewModal = document.querySelector(".reviewModal");
                        // Bootstrap의 Modal 클래스를 사용하여 모달을 초기화합니다.
                        var bootstrapModal = new bootstrap.Modal(reviewModal);

                        // 모달을 표시합니다.
                        bootstrapModal.hide();
                    });

                    // 페이지가 열리면 바로 리뷰 데이터를 가져와서 사용한다.
                    function getMovieReviews() {
                        function formatTime(str) {
                            var date = new Date(str);

                            return date.getFullYear() + '/' +
                                (date.getMonth() + 1) + '/' +
                                date.getDate() + ' ' +
                                date.getHours() + ':' +
                                date.getMinutes();
                        }

                        fetch("/reviews/" + mno + "/all")
                            .then(response => response.json())
                            .then(arr => {
                                var str = "";
                                arr.forEach((review, idx) => {
                                    console.log(review);

                                    str += '<div class="card-body" data-reviewnum=' + review.reviewnum + ' data-mid=' + review.mid + '>';
                                    str += '<h5 class="card-title">' + review.text + ' <span>' + review.grade + '</span></h5>';
                                    str += '<h6 class="card-subtitle mb-2 text-muted">' + review.nickname + '</h6>';
                                    str += '<p class="card-text">' + formatTime(review.regDate) + '</p>';
                                    str += '</div>';
                                });
                                document.querySelector(".reviewList").innerHTML += str;
                            });
                    }

                    getMovieReviews();

                    // modify review
                    var reviewnum;

                    document.querySelector('.reviewList').addEventListener('click', function(e) {
                        var target = e.target;

                        if (target && (target.classList.contains("card-body")
                                || target.classList.contains("card-title")
                                || target.classList.contains("card-subtitle")
                                || target.classList.contains("card-text"))) {

                            document.querySelector(".reviewSaveBtn").style.display = 'none';
                            document.querySelectorAll(".removeBtn, .modifyBtn").forEach(btn => btn.style.display = 'block');

                            var targetReview = target.closest(".card-body");

                            reviewnum = targetReview.getAttribute("data-reviewnum");
                            console.log("reviewnum: " + reviewnum);
                            inputMid.value = targetReview.getAttribute("data-mid");

                            var targetTitle = targetReview.querySelector('.card-title');
                            console.log("ft1");
                            console.log(targetTitle);
                            var clonedNode = targetTitle.cloneNode(true)  // 노드를 복제
                            var span = clonedNode.querySelector('span');

                            if (span) {
                                span.remove();  // span요소 제거
                            }
                            console.log("span:::::::::::");
                            console.log(span);
                            console.log("cloneNode:::::::::::");
                            console.log(clonedNode);
                            var text = clonedNode.textContent.trim();

                            inputText.value = text;

                            var grade = targetReview.querySelector('.card-title span').textContent.trim();
                            console.log("grade::::::::::::::");
                            console.log(grade);
                            var starElement = document.querySelector(".starrr a:nth-child(" + grade + ")");
                            if (starElement) {
                                var clickEvent = new MouseEvent('click', {
                                    'view': window,
                                    'bubbles': true,
                                    'cancelable': true
                                });
                                starElement.dispatchEvent(clickEvent);
                            }

                            // 모달을 표시합니다.
                            bootstrapModal.show();
                        }
                    });

                    // 영화리뷰 수정과 삭제
                    document.querySelector(".modifyBtn").addEventListener("click", function (){
                        var data = {
                           reviewnum : reviewnum,
                           mno: mno,
                           grade, grade,
                           text:inputText.value,
                           mid: inputMid.value,
                        };
                        console.log("data::::::::");
                        console.log(data);

                        fetch(`/reviews/${mno}/${reviewnum}`, {
                            method: "PUT",
                            body: JSON.stringify(data),
                            headers: {
                                "Content-Type" : "application/json; charset=utf-8",
                            },
                            dataType:"text",
                        }).then(data => data.json())
                            .then(result => {
                                console.log("result :::::: " + result);
                                self.location.reload();
                            }).catch(error => console.log(error));
                        // 모달을 표시합니다.
                        bootstrapModal.hide();
                    });

                    document.querySelector(".removeBtn").addEventListener("click", function (){
                        var data = {reviewnum : reviewnum};
                        console.log(data);

                        fetch(`/reviews/${mno}/${reviewnum}`, {
                            method: "DELETE",
                            headers : {
                                "Content-Type" : "application/json; charset=utf-8"
                            },
                            dataType: "text",
                        }).then(data => data.json())
                            .then(result => {
                                console.log("result : " + result);
                                self.location.reload();
                            });

                        bootstrapModal.hide();
                    });
                });

                // 원본 이미지 불러오기
                document.querySelectorAll(".uploadResult").forEach(image => {
                    var target = null;
                    image.addEventListener("click", function (e){

                        if(e.target.matches("li")) {
                            target = e.target;
                        } else if (e.target.matches("img")) {
                            target = e.target.parentNode;
                        } else {
                            return;
                        }
                        if (target != null) {
                            var file = target.getAttribute("data-file");

                            console.log("rf");
                            console.log(file);

                            document.querySelectorAll(".imageModal .modal-body").forEach(modal => {
                                modal.innerHTML = "<img style='width:100%' src='/display?fileName=" + file + "&size=1' >"
                            });

                            var reviewModal = document.querySelector(".imageModal");
                            // Bootstrap의 Modal 클래스를 사용하여 모달을 초기화합니다.
                            var bootstrapModal = new bootstrap.Modal(reviewModal);

                            bootstrapModal.show();
                        }
                    });
                });

            </script>

        </th:block>
    </th:block>

    <div class="reviewModal modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Movie Review</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Reviewer ID</label>
                        <input type="text" class="form-control" name="mid">
                    </div>
                    <div class="form-group">
                        <label>Grade <span class="grade"></span></label>
                        <div class="starrr"></div>
                    </div>
                    <div class="form-group">
                        <label>Review Text</label>
                        <input type="text" class="form-control" name="text" placeholder="Good Movie!">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary reviewSaveBtn">Save changes</button>
                        <button type="button" class="btn btn-warning modifyBtn">Modify</button>
                        <button type="button" class="btn btn-danger removeBtn">Remove</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="imageModal modal" tabindex="-2" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Picture</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="modal-body">

                    </div>
                    <div class="modal-footer">
                        <button class="btn-secondary btn" type="button" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</html>