<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
        <th:block th:fragment="content">

            <h1 class="mt-4">Movie Read Page</h1>

            <div class="form-group" th:data-mno="${dto.mno}">
                <label>Title</label>
                <input type="text" class="form-control" name="title" th:value="${dto.title}" readonly>
            </div>
            <div class="form-group">
                <label>Review Count</label>
                <input type="text" class="form-control" name="title" th:value="${dto.reviewCnt}" readonly>
            </div>


            <div class="form-group">
                <label>Avg</label>
                <input type="text" class="form-control" name="title" th:value="${dto.avg}" readonly>
            </div>

            <style>
                .uploadResult {
                    width : 100%;
                    background-color : gray;
                    margin-top : 10px;
                }
                .uploadResult ul {
                    display: flex;
                    flex-flow: row;
                    justify-content: center;
                    align-content: center;
                    vertical-align: top;
                    overflow: auto;
                }
                .uploadResult ul li {
                    list-style: none;
                    padding: 10px;
                    margin-left: 2em;
                }
                .uploadResult ul li img {
                    width: 100px;
                }
            </style>

            <div class="uploadResult">
                <ul>
                    <li th:each="movieImage: ${dto.imageDTOList}">
                        <img th:if="${movieImage.path != null}" th:src="|/display?fileName=${movieImage.getThumbnailURL()}|">
                    </li>
                </ul>
            </div>

            <button type="button" class="btn btn-primary">
                ReviewCount <span class="badge badge-light">[[${dto.reviewCnt}]]</span>
            </button>

            <button type="button" class="btn btn-info addReviewBtn">
                Review Register
            </button>

            <div class="list-group reviewList">

            </div>

            <script th:src="@{/starrr.js}"></script>
            <link rel="stylesheet" th:href="@{/css/starrr.css}">
            <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css">
            <script>

                // JavaScript로만 데이터 가져오기
                var grade = 0;
                var mno = document.querySelector('.form-group').getAttribute('data-mno');
                console.log(mno);

                document.addEventListener('DOMContentLoaded', function() {
                    // Starrr 플러그인을 초기화하고 값이 변경될 때 동작하도록 설정
                    var starrrElement = document.querySelector('.starrr');

                    if (starrrElement) {
                        $(starrrElement).starrr({
                            rating: grade,
                            change: function(e, value) {
                                if (value) {
                                    console.log(value);
                                    grade = value;
                                }
                            }
                        });
                    }

                    var reviewModal = document.querySelector(".reviewModal");
                    var inputMid = document.querySelector('input[name="mid"]');
                    var inputText = document.querySelector('input[name="text"]');

                    document.querySelector(".addReviewBtn").addEventListener("click", function(){
                       inputMid.value = "";
                       inputText.value = "";

                       document.querySelectorAll(".removeBtn, .modifyBtn").forEach(btn => btn.style.display = "none");

                       // Bootstrap의 Modal 클래스를 사용하여 모달을 초기화합니다.
                       var bootstrapModal = new bootstrap.Modal(reviewModal);

                        // 모달을 표시합니다.
                        bootstrapModal.show();
                    });

                    // 저장하기
                    document.querySelector('.reviewSaveBtn').addEventListener("click", function(){
                        var data = {
                            mno:mno,
                            grade: grade,
                            text: inputText.value,
                            mid: inputMid.value
                        };
                        console.log("data::::::::::;");
                        console.log(data);

                        fetch("/reviews/" + mno, {
                            method: "POST",
                            headers : {
                                "Content-Type": "application/json; charset=utf-8"  // Content-Type을 명시적으로 지정
                            },
                            dataType: "text",
                            body: JSON.stringify(data),
                        }).then(response => {
                            if (!response.ok) {
                                throw new Error('Network response was not ok');
                            }
                            console.log(response);
                            self.location.reload();
                            return response;
                        }).then((result) => {
                            console.log("result:::", result);
                        }).catch((error) => {
                            console.error('Error:', error);
                        });
                        var reviewModal = document.querySelector(".reviewModal");
                        // Bootstrap의 Modal 클래스를 사용하여 모달을 초기화합니다.
                        var bootstrapModal = new bootstrap.Modal(reviewModal);

                        // 모달을 표시합니다.
                        bootstrapModal.hide();
                    });
                });

                // 페이지가 열리면 바로 리뷰 데이터를 가져와서 사용한다.
                async function getMovieReviews() {
                    function formatTime(str) {
                        var date = new Date(str);

                        return date.getFullYear() + '/' +
                            (date.getMonth() + 1) + '/' +
                            date.getDate() + ' ' +
                            date.getHours() + ':' +
                            date.getMinutes();
                    }

                    await fetch("/reviews/" + mno + "/all")
                        .then(response => response.json())
                        .then(arr => {
                            var str = "";
                            arr.forEach((review, idx) => {
                                console.log(review);

                                str += '<div class="card-body" data-reviewnum=' + review.reviewnum + ' data-mid=' + review.mid + '>';
                                str += '<h5 class="card-title">' + review.text + ' <span>' + review.grade + '</span></h5>';
                                str += '<h6 class="card-subtitle mb-2 text-muted">' + review.nickname + '</h6>';
                                str += '<p class="card-text">' + formatTime(review.regDate) + '</p>';
                                str += '</div>';
                            });
                            document.querySelector(".reviewList").innerHTML += str;
                        });
                }

                getMovieReviews();

                // modify review


            </script>

        </th:block>
    </th:block>

    <div class="reviewModal modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Movie Review</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Reviewer ID</label>
                        <input type="text" class="form-control" name="mid">
                    </div>
                    <div class="form-group">
                        <label>Grade <span class="grade"></span></label>
                        <div class="starrr"></div>
                    </div>
                    <div class="form-group">
                        <label>Review Text</label>
                        <input type="text" class="form-control" name="text" placeholder="Good Movie!">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary reviewSaveBtn">Save changes</button>
                        <button type="button" class="btn btn-warning modifyBtn">Modify</button>
                        <button type="button" class="btn btn-danger removeBtn">Remove</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="imageModal modal" tabindex="-2" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Picture</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="modal-body">

                    </div>
                    <div class="modal-footer">
                        <button class="btn-secondary btn" type="button" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</html>