<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <h1 class="mt-4">Movie Register Page</h1>

        <form th:action="@{/movie/register}" th:method="post">
            <div class="form-group">
                <label>Title</label>
                <input type="text" class="form-control" name="title" placeholder="Enter Title">
            </div>

            <div class="form-group fileForm">
                <label>Image Files</label>
                <div class="custom-file">
                    <input type="file" class="custom-file-input files" id="fileInput" multiple>
                    <label class="custom-file-label" data-browse="Browse"></label>
                </div>
            </div>
            <div class="box">

            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
        <div class="uploadResult">
            <ul>

            </ul>
        </div>
        <style>
            .uploadResult {
                width : 100%;
                background-color : gray;
                margin-top : 10px;
            }
            .uploadResult ul {
                display: flex;
                flex-flow: row;
                justify-content: center;
                align-content: center;
                vertical-align: top;
                overflow: auto;
            }
            .uploadResult ul li {
                list-style: none;
                padding: 10px;
                margin-left: 2em;
            }
            .uploadResult ul li img {
                width: 100px;
            }
        </style>
        <script>

            let regex = new RegExp("(.*?)\.(exe|sh|zip|alz|tiff)$");
            let maxSize = 10485760; //10MB

            function checkExtension(fileName, fileSize) {
                if(fileSize > maxSize) {
                    alert("파일 사이즈 초과");
                    return false;
                }

                if(regex.test(fileName)) {
                    alert("해당 종류의 파일은 업로드할 수 없습니다.");
                    return false;
                }
                return true;
            }

            document.querySelector(".custom-file-input").addEventListener("change", function(){
                let fileInput = this.value.split("\\");
                let fileName = fileInput[fileInput.length -1];   // 파일 이름 추출
                // 현재 요소의 형제 요소 중에서 .custom-file-label 클래스를 가진 요소 찾기
                var label = this.parentElement.querySelector(".custom-file-label");

                if (label) {
                    label.classList.add("selected");  // 'selected' 클래스 추가
                    label.innerHTML = fileName;        // HTML 내용을 fileName으로 변경
                }

                console.log("fileName ::: ", fileName);

                let formData = new FormData();
                let inputFile = this;
                let files = inputFile.files;
                console.log("files ::: ", files);

                let appended = false;

                for (var i=0; i<files.length; i++) {
                    if (!checkExtension(files[i].name, files[i].size)) {
                        return false;
                    }
                    console.log(`files${i}::::::::::::`, files[i]);
                    formData.append("uploadFiles",files[i]);
                    appended = true;
                }

                //upload를 하지 않는다.
                if (!appended) {return;}

                for (var value of formData.values()) {
                    console.log(value);
                }

                // 실제 업로드 부분
                // upload
                fetch("/uploadAjax", {
                    method: "POST",
                    headers: {

                    },
                    body: formData,
                }).then(response => response.json())
                    .then(result => {
                        console.log("fdsfd");
                        console.log(result);
                        showResult(result);
                    })
                    .catch(error => {
                        console.error('Error:', error);  // 에러 처리
                    });

            });

            function showResult(uploadResultArr){
                var uploadUL = document.querySelector(".uploadResult ul");

                var str = "";

                uploadResultArr.forEach(function(obj, idx){
                    console.log("fdf", obj);
                    console.log("fd", idx);
                    str += "<li data-name='" + obj.fileName + "' data-path='" + obj.folderPath + "' data-uuid='" + obj.uuid + "'>";
                    str += "<div>"
                    str += "<button type='button' data-file=\'" + obj.imageURL + "\' class='btn-warning btn-sm'>X</button><br>"
                    str += "<img src='/display?fileName=" + obj.thumbnailURL + "'>";
                    str += "</div>"
                    str += "</li>";
                });

                uploadUL.innerHTML += str;
            };

            // 삭제 버튼 클릭
            document.querySelector(".uploadResult ").addEventListener("click", function(e){

                if (e.target && e.target.tagName === "BUTTON" && e.target.closest("li")) {
                    console.log("delete file");
                    let target = e.target;
                    let targetFile = target.data("file");
                    let targetLi = target.closest("li");
                    console.log("targetFile:::::::::::::", targetFile);

                    // POST 요청을 fetch로 처리
                    fetch('/removeFile', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'text/plain'  // JSON 대신 단순 텍스트로 전송
                        },
                        body: targetFile
                    })
                        .then(response => {
                            return response.json();  // JSON 응답을 반환
                        })
                        .then(result => {
                            console.log(result);
                            if (result === true) {
                                targetLi.remove(); // 성공 시 div 제거
                            }
                        })
                        .catch(error => {
                            console.error('Error:', error);
                        });
                }

            });

        </script>
    </th:block>
</th:block>

</html>